/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#home1 {
    position: absolute;
    top: 0;
}

.slide-image {
    background-image: url("../images/CaptureSlide1.PNG");
    background-size: cover;
    height: 300px;
    animation: fade 30s infinite;
    -webkit-animation: fade 30s infinite;
}

.slide-image2 {
    background-image: url("../images/CaptureSlide2.PNG");
    background-size: cover;
    height: 300px;
    animation: fade2 30s infinite;
    -webkit-animation: fade2 30s infinite;
}

.slide-image3 {
    background-image: url("../images/CaptureSlide3.PNG");
    background-size: cover;
    height: 300px;
    animation: fade2 30s infinite;
    -webkit-animation: fade2 30s infinite;
}

.slide-image4 {
    background-image: url("../images/CaptureSlide4.PNG");
    background-size: cover;
    height: 300px;
    animation: fade2 30s infinite;
    -webkit-animation: fade2 30s infinite;
}

.slide-image5 {
    background-image: url("../images/CaptureSlide5.PNG");
    background-size: cover;
    height: 300px;
    animation: fade2 30s infinite;
    -webkit-animation: fade2 30s infinite;
}

br {
    margin: 2px;
}

.espacement2 {
    font-size: 34px;
    background-color: cornflowerblue;
}

.gmnoprint {
    color: black;
}


/* Full Width Progress Bar */

.expand {
    width: 100%;
    height: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: top;
    background: #5CADD3;
    -moz-animation: fullexpand 10s ease-out;
    -webkit-animation: fullexpand 10s ease-out;
    z-index: 3;
}

@-moz-keyframes fullexpand {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes fullexpand {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.w3-btn-floating,
.w3-btn-floating-large {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    font-size: 21px;
}

.w3-btn-floating,
.w3-btn-floating2 {
    width: 20px;
}

.w3-btn-floating2,
.w3-btn-floating-large {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2;
    border-radius: 40px 0 0 40px;
    cursor: pointer;
    font-size: 21px;
}


/*position des boutons du slideshow*/

.bouton12 {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 120px;
}

#map {
    width: 100%;
}

#mycanvas {
    display: none;
    border-style: dotted;
    border-color: black;
    width: 95%;
    height: 250px;
}

#mob {
    display: none;
    margin-top: auto;
}

#reservation {
    border-color: black;
    border-radius: 6%;
    background-color: #e6fffb;
    float: right;
    width: 270px;
    padding: 5px;
    display: none;
}

.louer {
    background-color: dodgerblue;
    padding: 5px;
}

#stylo {
    color: white;
}

#timer {
    background-color: darkturquoise;
}

@media screen and (max-width: 640px) {
    .espacement2 {
        font-size: 19px;
    }
}
